$primary: #302ca2;
$primaryAccent: #23114f;
$textBlack: #042429;
$textGray : #747576;
$textSecondGray : #B8C0CE;

$btnBG: #efedf8;

$deviderGray: #b7aeca;
$white: #ffffff;
$grayStar: #eaeaea;
$grayBG: #F4F9FB;
$sectionBG : #F1F5F8;
$blueBtn: #24C5DC;

$md: 991px;
